PruebasSistemaFOP/Connected Services/ServicioInstructores/ServicioInstructor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioInstructor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53722/ServicioInstructor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53722/ServicioInstructor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53722/ServicioInstructor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" />
      <xsd:import schemaLocation="http://localhost:53722/ServicioInstructor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioInstructor_ListarInstructoresActivos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarInstructoresActivos" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ListarInstructoresActivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarInstructoresActivosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ObtenerInstructorPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInstructorPorId" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ObtenerInstructorPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInstructorPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_GuardarInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInstructor" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_GuardarInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_CambiarEstatusInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstatusInstructor" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_CambiarEstatusInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstatusInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ActualizarInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInstructor" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ActualizarInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInstructorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioInstructor">
    <wsdl:operation name="ListarInstructoresActivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/ListarInstructoresActivos" message="tns:IServicioInstructor_ListarInstructoresActivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/ListarInstructoresActivosResponse" message="tns:IServicioInstructor_ListarInstructoresActivos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInstructorPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/ObtenerInstructorPorId" message="tns:IServicioInstructor_ObtenerInstructorPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/ObtenerInstructorPorIdResponse" message="tns:IServicioInstructor_ObtenerInstructorPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/GuardarInstructor" message="tns:IServicioInstructor_GuardarInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/GuardarInstructorResponse" message="tns:IServicioInstructor_GuardarInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarEstatusInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/CambiarEstatusInstructor" message="tns:IServicioInstructor_CambiarEstatusInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/CambiarEstatusInstructorResponse" message="tns:IServicioInstructor_CambiarEstatusInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/ActualizarInstructor" message="tns:IServicioInstructor_ActualizarInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/ActualizarInstructorResponse" message="tns:IServicioInstructor_ActualizarInstructor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioInstructor" type="tns:IServicioInstructor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarInstructoresActivos">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/ListarInstructoresActivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInstructorPorId">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/ObtenerInstructorPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarInstructor">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/GuardarInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarEstatusInstructor">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/CambiarEstatusInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarInstructor">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/ActualizarInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioInstructor">
    <wsdl:port name="BasicHttpBinding_IServicioInstructor" binding="tns:BasicHttpBinding_IServicioInstructor">
      <soap:address location="http://localhost:53722/ServicioInstructor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>