PruebasSistemaFOP/Connected Services/ServicioInstructores/ServicioInstructor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInstructor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Instructor" nillable="true" type="tns:Instructor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstructor" nillable="true" type="tns:ArrayOfInstructor" />
  <xs:complexType name="Instructor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdInstructor" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instructor" nillable="true" type="tns:Instructor" />
</xs:schema>