PruebasSistemaFOP/Connected Services/ServicioInstructores/ServicioInstructor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53722/ServicioInstructor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" />
  <xs:import schemaLocation="http://localhost:53722/ServicioInstructor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="ListarInstructoresActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInstructoresActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="ListarInstructoresActivosResult" nillable="true" type="q1:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstructorPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInstructor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstructorPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="ObtenerInstructorPorIdResult" nillable="true" type="q2:Instructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="NuevoInstructor" nillable="true" type="q3:Instructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GuardarInstructorResult" type="q4:KeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstatusInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInstructor" type="xs:int" />
        <xs:element minOccurs="0" name="NuevoEstatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstatusInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="CambiarEstatusInstructorResult" type="q5:KeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="DatosInstructor" nillable="true" type="q6:Instructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="ActualizarInstructorResult" type="q7:KeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>