PruebasSistemaFOP/Connected Services/ServicioGrupos/ServiciosGrupos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53722/ServiciosGrupos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" />
  <xs:import schemaLocation="http://localhost:53722/ServiciosGrupos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="ListarGruposActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGruposActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="ListarGruposActivosResult" nillable="true" type="q1:ArrayOfGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="NuevoGrupo" nillable="true" type="q2:Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GuardarGrupoResult" type="q3:KeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGrupoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGrupoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="ObtenerGrupoPorIdResult" nillable="true" type="q4:Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="DatosGrupo" nillable="true" type="q5:Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="ActualizarGrupoResult" type="q6:KeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAspirantesGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAspirantesGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" minOccurs="0" name="ObtenerAspirantesGrupoResult" nillable="true" type="q7:ArrayOfAspirante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarAspiranteGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="IdAspirante" type="xs:int" />
        <xs:element minOccurs="0" name="IdInstructor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarAspiranteGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="AsignarAspiranteGrupoResult" type="q8:KeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverAspiranteGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAspirante" type="xs:int" />
        <xs:element minOccurs="0" name="IdGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverAspiranteGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="RemoverAspiranteGrupoResult" type="q9:KeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>